<% 
  default_latitude = default_latitude || -21.5288 
  default_longitude = default_longitude || -46.6438
  editable = editable || true
%>

<div data-controller="map"
     data-map-latitude-value="<%= default_latitude %>"
     data-map-longitude-value="<%= default_longitude %>"
     data-map-zoom-value="13"
     data-map-complaints-value="<%= @complaints.to_json %>"
     data-map-editable-value="<%= editable || false %>"
     data-map-target="container"
     style="width: 100%; height: 500px;">
</div>
